/* qtech-css.css */
.dialog-footer {
  text-align: right;
}

.el-table th {
  text-align: center;
}

.el-button .el-button--primary {
  background-color: #4fc3f7;
  border-color: #004d40;
  color: #ffffff;
}

.upload-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.upload-row .el-button--primary {
  background-color: #4fc3f7;
  border-color: #004d40;
  color: #ffffff;
}

.upload-row .el-button {
  background-color: #4fc3f7;
  border-color: #004d40;
  color: #ffffff;
}

/* el-table */
.el-table {
  margin-top: 5px;
}

/*.el-table .el-button--primary {
  background-color: #4fc3f7;
  border-color: #004d40;
  color: #ffffff;
}

.el-table .el-button--warning {
  background-color: #ffb74d;
  border-color: #ffa726;
  color: #ffffff;
}

.el-table .el-button--danger {
  background-color: #e57373;
  border-color: #d32f2f;
  color: #ffffff;
}*/


/* el-form-item */
.el-form-item {
  margin-top: 5px;
  margin-bottom: 5px !important;
}

.el-form-item--mini {
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.el-form-item--small {
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.el-form-item--medium {
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.el-form-item--large {
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.table-hover a {
  text-decoration: underline;
}

.table-hover a:hover {
  font-size: 22px;
  text-decoration: none;
  color: #00afff;
}

.table-hover a:active {
  text-decoration: none;
  color: #e57373;
}

